.portraitHero {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--color-bg);
}

.riveWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.riveWrapper > div {
  width: 100%;
  height: 100%;
}
